html {
    background: no-repeat linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(238, 29%, 16%);
}

body {
    font-size: 12px;
    background-color: aliceblue;
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.383);

}

main {
    width: 50%;
}

.img-container {
    position: relative;
    width: 40%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.background-img {
    margin: -300px 0 0 -570px;
    z-index: 1;
}

.lady-img {
    margin: 65px 0 0 -80px;
    z-index: 2;
}

.box-svg {
    filter: drop-shadow(0px 40px 25px rgba(0, 0, 0, 0.204));
    margin: 80px 0 0 -135px;
    z-index: 3;
    position: absolute;
}